<!DOCTYPE html>
<html lang="es">
  <title>contacto</title>

<head>
	
		<!-- caracter en lenguaje humano -->
  <meta charset="UTF-8">
	<!-- Vista distintas ventanas -->
  <meta  name = "viewport"  content = "width=device-width, initial-scale=1" >

	<!-- Informacion de la pagina -->
  <meta name="Sistema web para gimnasio" content="Pagina de inicio"/>
	<!-- Etiquetas para los bucadores -->
  <meta name="keywords" content="Sistema web, gimnasio, inicio"/>

    
	<!-- Script JS -->
	<script src="../dir/js/bootstrap.min.js" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../js/Archivo.js"></script>
	<script type="text/javascript" src="../js/funcionesGrupo6.js"></script>
	
	<!-- CSS -->

<!--<link rel="stylesheet" href="../css/estiloHome.css">-->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	
	<!-- Logo Icono -->
    <link href="assets/img/LogoSF.png" rel="icon" type="image/png">

</head>
<script>


</script>

<body id="estiloBody">

<div id="idbreadcrumbs1">
   		<a routerLink="/home"> Home >></a> 
		<a routerLink="/equipo"> Equipo >></a>
		<a routerLink="/contacto"> Contacto </a>
</div>


  <section id="cuerpoPagina">
    <section>
      <div class="container encabezado">
        <h1>Contacto</h1>
      </div>
    </section>
    <br>
    <section>
      <div class="container EstiloContacto">
        <form ngNoForm method="post" action="http://planidear.com.ar/g24-aula2-gimnasio-g24/EnvCorreo.php" name="formContacto">
          
          <div class="row">
            <div class="col-sm-10">
              <label class="form-label">Nombre</label>
            </div>
            <div class="col-sm-12">
              <input id="txtNombre" name="txtNombre" type="text" class="Controls" minlength="2" 
              placeholder="Nombre" maxlength="20" required>
            </div>
          </div>
          
          <br>
          <div class="row">
            <div class="col-sm-10">
              <label class="form-label">Correo electrónico</label>
            </div>
            <div class="col-sm-12">
              <input id="txtCorreo" name="txtCorreo" type="email" class="Controls" minlength="2" 
              placeholder="Correo" maxlength="20" required>
              <span>Nunca compartiremos su correo electrónico con nadie más.</span>
            </div>
          </div>
            
          <div class="row">
            <div class="col-sm-10">
              <label class="form-label">Consulta</label>
            </div>
            <div class="col-sm-12">

              <textarea id="txtConsulta" name="txtConsulta" type="text" class="Controls" rows="3"
              placeholder="ingrese su consulta"></textarea>
            </div>
          </div>

          <button ng-submit class="btn btn-primary" type="submit" name="login">Enviar</button>
      
        </form>
      </div>
    </section>
	  <br>
  </section>


  <script src="dir/js/bootstrap.min.js" ></script>
  <!-- Minified JS library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  <script type="text/javascript" src="js/scriptContacto.js"></script>
</body>
</html>
<router-outlet></router-outlet>