
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body {

background-color: darkgray;


}*/

.form-register {

    width: 35%;
    background-color: rgb(177, 91, 91);
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    border-radius: 4px;
    font-family: 'Arial Narrow';
    color: black;
    box-shadow: 7px 13px 37px rgb(253, 253, 253);
    

}
form-register h4 {
    font-family:'Courier New', Courier, monospace;
    color: red;
}

.Controls {

    width: 100%;
    background: cornsilk;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid orangered;
    font-family: 'Arial Narrow';
    font-size: 18px;
}

.form-register p {

    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;

}
/*
.form-register a {

color: white;
text-decoration: none;

}*/

.form-register a:hover {

color: white;
text-decoration: underline;
}

/*
.form-register .botons {

width: 100%;
background: rgb(209, 93, 93);
border: none;
padding: 12px;
margin: 16px 0;
font-size: 18px;

=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body {

background-color: darkgray;


}*/

.form-register {

    width: 35%;
    background-color: rgb(177, 91, 91);
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    border-radius: 4px;
    font-family: 'Arial Narrow';
    color: black;
    box-shadow: 7px 13px 37px rgb(253, 253, 253);
    

}
form-register h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:silver;
/*
.form-register h4 {
    front-size: 20px;
    margin-bottom: 20px;
    color: white;
}*/
}

.Controls {

    width: 100%;
    background: cornsilk;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid orangered;
    font-family: 'Arial Narrow';
    font-size: 18px;
}

.form-register p {

    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;

}
/*
.form-register a {

color: white;
text-decoration: none;

}*/

.form-register a:hover {

color: white;
text-decoration: underline;
}

/*
.form-register .botons {

width: 100%;
background: rgb(209, 93, 93);
border: none;
padding: 12px;
margin: 16px 0;
font-size: 18px;

}*/