<!DOCTYPE html>
<html lang="en">
  <title>ecommerce</title>

<head>
	
		<!-- caracter en lenguaje humano -->
  <meta charset="UTF-8">
	<!-- Vista distintas ventanas -->
  <meta  name = "viewport"  content = "width=device-width, initial-scale=1" >

	<!-- Informacion de la pagina -->
  <meta name="Sistema web para gimnasio" content="Pagina de inicio"/>
	<!-- Etiquetas para los bucadores -->
  <meta name="keywords" content="Sistema web, gimnasio, inicio"/>

    
	<!-- Script JS -->
	<script src="../dir/js/bootstrap.min.js" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../js/Archivo.js"></script>
	<script type="text/javascript" src="../js/funcionesGrupo6.js"></script>
	


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	
	<!-- Logo Icono -->
    <link href="assets/img/LogoSF.png" rel="icon" type="image/png">

</head>
<script>


</script>

<body id="estiloBody">
<br>

  <section id="cuerpoPagina">
    <section>
      <div class="container encabezado">
        <h1>PRODUCTS</h1>
      </div>
    </section>
    <br>
    <section>
      <div class="container EstiloContacto">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Product</th>
              <th scope="col">Price $</th>
              <th colspan="2" scope="col">Image</th>
              <th scope="col">Buy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row1">1</th>
              <td [width]="500">Remeras termicas negra</td>
              <td>250</td>
              <td><img id="CssImage" src="https://www.heavenimagenes.com/heavencommerce/68ac9d04-8767-4aca-9951-49f2fea1383b/images/v2/ALPINA/1905311204278905_01_medium.jpg" alt=""></td>
              <td><img id="CssImage" src="https://www.heavenimagenes.com/heavencommerce/68ac9d04-8767-4aca-9951-49f2fea1383b/images/v2/ALPINA/1905311204278905_03_large.jpg" alt=""></td>
            
              <td><button type="button" class="btn btn-info">Buy</button></td>
            
            </tr>
            <tr>
              <th scope="row1">2</th>
              <td [width]="500">Pantalon termicos</td>
              <td>250</td>
              <td><img id="CssImage" src="https://d368r8jqz0fwvm.cloudfront.net/29384-product_lg/pantalon-termico-de-hombre-rider.jpg" alt=""></td>
              <td><img id="CssImage" src="https://d368r8jqz0fwvm.cloudfront.net/17546-product_lg/pantalon-termico-de-hombre-lynx.jpg" alt=""></td>
            
              <td><button type="button" class="btn btn-info">Buy</button></td>
            
            </tr>
            <tr>
              <th scope="row1">3</th>
              <td [width]="500">Buzos deportivos</td>
              <td>250</td>
              <td><img id="CssImage" src="https://www.stockcenter.com.ar/on/demandware.static/-/Sites-dabra-catalog/default/dwbe42d1cd/products/UA_1354539-001/UA_1354539-001-1.JPG" alt=""></td>
              <td><img id="CssImage" src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c1fd51027a6f4180b015ad9f011ba4e9_9366/Buzo_adidas_Essentials_Azul_HE9289_01_laydown.jpg" alt=""></td>
            
              <td><button type="button" class="btn btn-info">Buy</button></td>
            
            </tr>
          </tbody>
        </table>
      </div>
    </section>
	  <br>
  </section>


  <script src="dir/js/bootstrap.min.js" ></script>
  <!-- Minified JS library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
  <script type="text/javascript" src="js/scriptContacto.js"></script>
</body>
</html>
