
img {

    width: 50px;
    height: 50px;
	
   border-radius: 50% 50%;
}

img:hover  {

    width: 250px;
    height: 250px;
	
   border-radius: 50% 50%;
}



#estiloBody {
    background: linear-gradient(to right, rgb(16 38 54 / 46%), rgb(209 170 124 / 40%)); /*fondos degradados en una dirección específica */
    background-image: url(http://planidear.com.ar/g24-aula2-gimnasio-g24/img/fondogym3.jpg);
    background-size: cover; /*La imagen es renderizada, preservando su proporción propia,*/
    background-position: top; /* Posicion de la imagen: 0% en la posición vertical*/
  font-size: x-large;
  
    background-attachment: fixed; /* determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor: a imagen de fondo estará fija en la pantalla y no se moverá con el bloque contenedor*/
}



#Idbreadcrumbs1 li {
	
/* Los elementos se colocan uno al lado del otro*/
    display:inline;
/*Estable cel espacio de relleno*/
    padding:10px;  
    color:white
}



#idbreadcrumbs1 a {
    text-decoration: none;
    color: white;
    padding: 5px;
    width: 80%; 
    margin: auto; 
    align-content: initial; 
    font-size: 1em;
   
    
}
div.encabezado {
    text-align: center;
    background-color: black;
}

div.encabezado h1 {
    color: aliceblue;
}

.EstiloContacto {
    color: white;
    background-color: black;
    align-content: center;
    align-items: center;
    text-align: left;
    opacity: 90%;
    border-radius: 1% 1%;
}

.Controls {
    color: black;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    margin-top:12px;
    border: 1px solid white;
    font-family: 'Arial Narrow';
    font-size: 18px;
}


