	<header class="menu container-fluid">
      <nav class="navbar navbar-expand-md navbar-dark estilo_navbar">
        <div class="container-fluid"> <!--container-fluid para que ocupe todo el ancho disponible-->
          <a routerLink="/home">
            <img class="CssImage"  src="assets/img/LogoSF.png" 
            width="70" height="70" alt="Imagen logo"/>
          </a>
  
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" 
          data-bs-target="#MenuNavegacion" title="boton">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div id="MenuNavegacion" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-3">
              <li class="nav-item"><a routerLink="/home"> Home </a></li>
              <li class="nav-item"><a routerLink="/equipo">Team</a></li>
              <li class="nav-item"><a routerLink="/contacto"> Contact </a></li>
              <li class="nav-item"><a routerLink="/login"> Login </a></li>
              <li class="nav-item"><a routerLink="/ecommerce"> E-commerce </a></li>
              <li class="nav-item"><a routerLink="/ayuda"> Help </a></li>
          <!--<li class="nav-item"><a href="alta_cliente.html"> Alta Cliente </a></li>-->
            </ul>
          </div>
        </div>
      </nav>
    </header>
<router-outlet></router-outlet>