Body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  background-image: url(http://planidear.com.ar/g24-aula2-gimnasio-g24/img/fondogym3.jpg);
 

/*La imagen es renderizada, preservando su proporción propia, en el tamaño mayor contenido dentro de, o cubriendo
*/

  background-size: cover;

/*
la imagen del fondo permanece fija
*/
  background-attachment: fixed;
  /*aliena al centro*/
  align-content: center;
}

.CentroHome {
  color: white;
  background-color: black;
  align-content: center;
  align-items: center;
  text-align: center;
/*Puede ser 0.9*/
  opacity: 90%;
  border-radius: 1% 1%;
  width: 90%;
}

.EstiloFuente {
  font-family: 'Kanit', sans-serif;
/*el texto estará en negrita;*/
  font-weight: bold;
}
.video-responsive {
/*Para no mostrar ningún marcador en una lista de elementos */
  list-style: none;
/*margen interior*/
  padding: 0;
  background: #000000;
  width: 100%;
  margin: auto;
/* Nos posiciona todos los elementos en centro*/
  align-content: initial;
}


#textNombre {
  text-align: center;
}

.CssImage {

/* Posicionamiento relativo: permite al elemento estar fuera de su posición normal.*/
  position: relative;

  width: 100;
  height: 100;

 border-radius: 50% 50%;
}

.menu {
  list-style: none;/*Propiedades elemento lista */
  padding: 0;
  background: #000000;/*establece el espacio de relleno */
  width: 90%; /*ancho */
  margin: auto; /*Margen */
  align-content: initial; /*ajusta las líneas dentro de un contenedor flex cuando hay espacio extra en el eje transversal. Valores globales */
  /*font-family: Facon;
  font-size: 1.4em;*/
}

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  /*separa ligeramente del borde*/
  display: block;
}

.menu li a:hover {
  background-color: aliceblue;
  color: #000000;
}

.menu li {
  display: inline-block;
  /*situar uno al lado de otro */
  text-align: center;
}

.menu1 {
  width: 150px;
  border: none;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

.aCss {
  color: black;
}




#estiloBody {
  background: linear-gradient(to right, rgb(16 38 54 / 46%), rgb(209 170 124 / 40%)); /*fondos degradados en una dirección específica */
  background-image: url(http://planidear.com.ar/g24-aula2-gimnasio-g24/img/fondogym3.jpg);
  background-size: cover; /*La imagen es renderizada, preservando su proporción propia,*/
  background-position: top; /* Posicion de la imagen: 0% en la posición vertical*/
  background-attachment: fixed; /* determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor: a imagen de fondo estará fija en la pantalla y no se moverá con el bloque contenedor*/
}

section#cuerpoPagina {
  min-height: calc(90vh - 60px);
}


.color_texto_menu{
  color: white
}

.estilo_navbar{
  padding: 0mm;
  margin: 0mm;
}

#AlinearLogoInicio{
text-align: center;
}
.EstiloFormIngreso1 {
  color: white;
  background-color: black;
  text-align: center;
  opacity: 90%;
  border-radius: 1% 1%;
}


#Idbreadcrumbs1 li {

/* Los elementos se colocan uno al lado del otro*/
  display:inline;
/*Estable cel espacio de relleno*/
  padding:10px;  
  color:white
}

#AlinearLogoInicio{
text-align: center;
}

#idbreadcrumbs1 a {
  text-decoration: none;
  color: white;
  padding: 5px;
  width: 80%; 
  margin: auto; 
  align-content: initial; 
  font-size: 1em;
 
  
}
